@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  --color-primary: 30 36 36;
  --color-secondary: 172 184 162;
}

body[data-theme="hackerman"] {
  --color-primary: 0 255 0;
  --color-secondary: 20 26 26;
}

body[data-theme="flashbang"] {
  --color-primary: 0 0 0;
  --color-secondary: 255 255 255;
}
